<?xml version="1.0"?>
<config>
	<app framerate_cap="60">
		<title>Parallax Paradox</title>
		<organization>MarcoPoloProductions</organization>
	</app>
	<renderer>
		<vsync value="false" />
	</renderer>
	<audio volumeFX="0.120253168" volumeMusic="0" />
	<window>
		<resolution width="1024" height="768" scale="1" />
		<fullscreen value="0" />
		<borderless value="16" />
		<resizable value="0" />
		<fullscreen_window value="0" />
	</window>
	<scene>
		<level name="map1.tmx" />
		<level name="map2.tmx" />
		<level name="map3.tmx" />
		<level name="map4.tmx" />
	</scene>
	<file_system>
		<path>data.zip</path>
	</file_system>
	<map>
		<folder>maps/</folder>
	</map>
	<player>
		<animations>animations.xml</animations>
	</player>
	<entities>
		<animations>animations.xml</animations>
	</entities>
</config>
