<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <audio volumeFX = "1.0f" volumeMusic = "1.0f"/>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  
  <scene>
    <level name="map3.tmx"/>
    <level name="map1.tmx"/>
    <level name="map2.tmx"/>
  </scene>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <animations>animations.xml</animations>
  </player>

  <entities>
    <animations>animations.xml</animations>
  </entities>

</config>